# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.vercel
.env*.local


# ML Model files (sensitive/large files)
public/tokenizer.json
public/vocab.txt
public/ingredients_data.json
public/config.json
public/config_sentence_transformers.json
public/condition.json
public/skintype.json
public/modules.json
public/special_tokens_map.json
public/sentence_bert_config.json
public/tokenizer_config.json
public/ingredients_config.json
